.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px,
  0 0 20px rgba(0, 0, 0, 0.8);
}

.checkoutProduct_info {
  padding-left: 20px;
}

.checkoutProduct_info > button {
  background: #e4a215;
  border: 1px solid;
  margin-top: 10px;
  border-color: #f8c14b #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct_image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_rating {
  display: flex;
}

.checkoutProduct_title {
  font-size: 17px;
  font-weight: 800;
}
